

.keyboard-content {
    padding-left: 50%;
    width: 740px;
    margin-left: -370px;
}

div.keyboard {
    cursor: default;
    padding-top: 3px;
    1margin-top: -25px;
}

div.keyboard.cur {
    display: block;
}

div.keyboard.fingers div.f5 {
    background: #ad7fa8;
}

div.keyboard.fingers div.f4 {
    background: #729fcf;
}

div.keyboard.fingers div.f3 {
    background: #73d216;
}

div.keyboard.fingers div.f2 {
    background: #fcaf3e;
}

div.keyboard.fingers div.f1 {
    background: #fce94f;
}

div.keyboard.fingers div.sys {
    background: #ddd;
}

#keyboard {
    width: 790px;
    float: left;
}

div.keyboard .line {
    clear: left;
}

div.keyboard .line div {
    float: left;
    width: 37px;
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    border: 1px solid #c7d0d4;
    background: #fff;
    margin: 1px;
    padding: 5px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.keyboard sup {
    margin-left: 5px;
}

div.keyboard .line div.sel {
    background: #c7d0d4;
}

div.keyboard.fingers .line div.sel {
    background: #ffa;
}

#keyboard div.tab {
    width: 63px;
}

#keyboard div.caps {
    width: 75px;
}

#keyboard div.lshift {
    width: 101px;
}

#keyboard div.backspace {
    width: 63px;
    text-align: right;
}

#keyboard div.enter {
    width: 76px;
    text-align: right;
}

#keyboard div.rshift {
    width: 101px;
    text-align: right;
}

#keyboard div.altgr {
    text-align: center;
}

div.keyboard div.sys {
    font-size: 10px;
    text-align: left;
    color: #95a0a4;
}

div.keyboard div.backspace.off {
    color: #ddd;
}

#keyboard span.layout {
    border: none;
    float: left;
    margin-left: 25px;
    margin-bottom: 5px;
}

#keyboard div.space div {
    width: 145px;
    height: 37px;
    border: none;
    margin-left: -5px;
    margin-top: -5px;
}

#keyboard div.space div.sel_left {
    border: 1px solid #c7d0d4;
    background: #c7d0d4;
}

#keyboard.fingers div.space div.sel_left {
    border: 1px solid #ffa;
    background: #ffa;
}

#keyboard div.space div.sel_right {
    border: 1px solid #c7d0d4;
    background: #c7d0d4;
    margin-left: 150px;
    margin-top: -5px;
}

#keyboard.fingers div.space div.sel_right {
    border: 1px solid #ffa;
    background: #ffa;
    margin-left: 150px;
    margin-top: -5px;
}

#keyboard div.space {
    margin-left: 190px;
    width: 300px;
    height: 37px;
}

div.keyboard div.hand {
    border: 1px solid #888;
}

div.keyboard div.start {
    text-decoration: underline;
}

div.keyboard div.select {
    margin-top: 40px;
    text-align: center;
}


#hands div.hand {
    display: none;
    position: absolute;
    width: 58px;
    height: 100px;
    z-index: 1;
    zoom: 1;
    opacity: 0.7;
    background: url(i/hands2.png) no-repeat;
}

#hands #lhand4 {
    background-position: 0 0;
}

#hands #lhand3 {
    background-position: -58px 0;
}

#hands #lhand2 {
    background-position: -116px 0;
}

#hands #lhand1 {
    background-position: -174px 0;
}

#hands #lhand0 {
    background-position: -232px 0;
}

#hands #rhand0 {
    background-position: -290px 0;
}

#hands #rhand1 {
    background-position: -348px 0;
}

#hands #rhand2 {
    background-position: -406px 0;
}

#hands #rhand3 {
    background-position: -464px 0;
}

#hands #rhand4 {
    background-position: -522px 0;
}





